@media only screen and (max-width: 1500px) {
  .coin-description.main-align {
    max-width: 75rem;
  }
  .coin-list-container.main-align {
    max-width: 75rem;
  }
  .footer-wrapper {
    max-width: 75rem;
  }
  .page-header-wrapper {
    max-width: 75rem;
  }
}
@media only screen and (max-width: 1330px) {
  .coin-description.main-align {
    max-width: 70rem;
  }
  .coin-list-container.main-align {
    max-width: 70rem;
  }
  .footer-wrapper {
    max-width: 70rem;
  }
  .page-header-wrapper {
    max-width: 70rem;
  }
}

@media only screen and (max-width: 1240px) {
  .coin-description.main-align {
    max-width: 65rem;
  }
  .coin-list-container.main-align {
    max-width: 65rem;
  }
  .footer-wrapper {
    max-width: 65rem;
  }
  .page-header-wrapper {
    max-width: 65rem;
  }
}

@media only screen and (max-width: 1140px) {
  .coin-description.main-align {
    max-width: 60rem;
  }
  .coin-list-container.main-align {
    max-width: 60rem;
  }
  .footer-wrapper {
    max-width: 60rem;
  }
  .page-header-wrapper {
    max-width: 60rem;
  }
}

@media only screen and (max-width: 1040px) {
  .coin-description.main-align {
    max-width: 55rem;
  }
  .coin-list-container.main-align {
    max-width: 55rem;
  }
  .footer-wrapper {
    max-width: 55rem;
  }
  .page-header-wrapper {
    max-width: 55rem;
  }
}

@media only screen and (max-width: 940px) {
  .coin-list-description-wrapper,
  .coin-description-wrapper {
    position: sticky;
    left: 0px;
  }
  .coin-list-wrapper {
    width: fit-content;
  }
  .coin-list-container {
    margin-inline: auto;
  }
  .coin-list-name {
    flex-direction: column;
    align-items: flex-start;
  }
  .coin-list-name span:nth-child(2) {
    font-size: calc(var(--font-size-content) * 0.7);
    opacity: 0.6;
  }

  .coin-list-price-wrapper,
  .coin-description-price-wrapper {
    min-width: 470px;
    grid-template-columns: repeat(4, 1fr);
  }
  .coin-description.main-align {
    max-width: 45rem;
  }
  .coin-list-container.main-align {
    max-width: 45rem;
  }
  .footer-wrapper {
    max-width: 45rem;
  }
  .page-header-wrapper {
    max-width: 45rem;
  }
}

@media only screen and (max-width: 780px) {
  .page-header-wrapper,
  .coin-list-container.main-align,
  .footer-wrapper,
  .coin-description.main-align {
    max-width: 37rem;
  }
}

@media only screen and (max-width: 670px) {
  .page-header-wrapper,
  .coin-list-container.main-align,
  .footer-wrapper,
  .coin-description.main-align {
    max-width: 30rem;
  }
  .page-header-buttons {
    display: none;
  }
  .page-header-theme.small {
    position: absolute;
    right: 30px;
    display: flex;
    top: 28px;
  }
  .page-header {
    position: relative;
  }
  .dropdown-menu {
    display: flex;
    flex-direction: column;
  }
  .page-header-button-small {
    display: flex;
  }
  .page-header-button-small.open {
    right: 15px;
  }
  .dropdown-menu.open {
    padding-top: 5rem;
  }
}

@media only screen and (max-width: 540px) {
  .page-header-wrapper,
  .coin-list-container.main-align,
  .footer-wrapper,
  .coin-description.main-align {
    max-width: 25rem;
  }
}

@media only screen and (max-width: 440px) {
  .page-header-wrapper,
  .coin-list-container.main-align,
  .footer-wrapper,
  .coin-description.main-align {
    max-width: 22rem;
  }
}
