.fc {
  display: flex;
  flex-direction: column;
}

.fr {
  display: flex;
  flex-direction: row;
}

.f {
  display: flex;
}

.aic {
  align-items: center;
}
.asc {
  align-self: center;
}
.jsc {
  justify-self: center;
}
.jsfe {
  justify-self: flex-end;
}
.jcsbetween {
  justify-content: space-between;
}

.jcc {
  justify-content: center;
}

.g {
  display: grid;
}
