.register-container {
  width: 100%;
  height: calc(100vh - 71px);
}

.registerButton {
  font-size: var(--font-size-button);
  padding: var(--padding-button);
  font-family: var(--font-family-content);
  background-color: var(--color-cryptomania);
  color: #ffff;
  border-radius: 0.4rem;
  border: none;
  margin-right: var(--space-between);
}

.registerButton:hover {
  cursor: pointer;
}

.login-form .empty-field.darkTheme {
  border-bottom-color: var(--color-cryptomania);
}
.login-form .empty-field.darkTheme:hover {
  border-bottom-color: red;
}

.password-error.darkTheme {
  border-bottom-color: rgb(255, 20, 20);
}
