.coin-list-container {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  overflow-x: auto;
  box-sizing: border-box;
  overflow-y: hidden;
  min-height: calc(100vh - 70px - 57.59px - 380px - 16px - 32px);
  padding-bottom: 5rem;
}
.coin-list-container::-webkit-scrollbar {
  display: none;
}

.coin-list-wrapper {
  display: grid;
  grid-template-columns: 1.5fr 3fr;
  background-color: white;
  list-style: none;
  align-items: center;
}

.coin-list-name-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-block: 0.6rem;
  padding-block: 0.6rem;
}
.coin-list-name {
  font-weight: 550;
  align-items: center;
  gap: 0.5rem;
}

.coin-list-price {
  text-align: end;
}

.coin-list-image {
  object-fit: cover;
  width: 1.4rem;
  height: 1.4rem;
}

.coin-list-description-wrapper {
  align-items: center;
  grid-template-columns: 1rem 2rem auto;
  gap: 0.5rem;
  min-width: 12rem;
  border-bottom: var(--border-split);
}

.coin-list-price-wrapper {
  min-height: 100%;
  align-items: center;
  list-style: none;
  grid-template-columns: 3fr 0.5fr 0.5fr 0.5fr;
  border-bottom: var(--border-split);
  padding-right: 1.5rem;
}
.coin-list-favorite-button {
  font-size: calc(var(--font-size-content) / 1.2);
  background-color: transparent;
  border: none;
}

.coin-list-favorite-button:hover {
  cursor: pointer;
  opacity: 0.7;
}
